In [3]:
import pandas as pd
#Importing the crime data

#Data source below
#https://data.cityofchicago.org/Public-Safety/Crime_2014_2018/tunj-hqmk

crime=pd.read_csv('Resources/Crime_2014_2018.csv')
crime.head()
#len(crime.index)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10469038,HZ207852,12/31/2013 12:01:00 AM,008XX E 82ND ST,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,8.0,44.0,11,NaN,NaN,2013,03/31/2016 03:51:38 PM,NaN,NaN,NaN
1,10192275,HY379636,12/31/2013 12:01:00 AM,035XX S RHODES AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,4.0,35.0,11,1180162.0,1881716.0,2013,02/10/2018 03:50:01 PM,41.830697,-87.614477,"(41.830697249, -87.614476891)"
2,9445950,HW589797,12/31/2013 12:01:00 AM,042XX W HADDON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,37.0,23.0,14,1147873.0,1907329.0,2013,02/10/2018 03:50:01 PM,41.901663,-87.732289,"(41.901662774, -87.732289483)"
3,9446735,HW590602,12/31/2013 12:01:00 AM,034XX W FOSTER AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,39.0,13.0,14,1152612.0,1934338.0,2013,02/10/2018 03:50:01 PM,41.975685,-87.714166,"(41.97568513, -87.714165921)"
4,9446803,HW590026,12/31/2013 12:01:00 AM,017XX W CARMEN AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,STREET,False,False,...,47.0,3.0,06,1163902.0,1933918.0,2013,02/10/2018 03:50:01 PM,41.974301,-87.672660,"(41.974301206, -87.672660358)"